<mat-drawer-container class="sidebar-wrapper" autosize>
  <mat-drawer [opened]="true" #drawer class="sidenav" mode="side">
    <div class="logo">
      <img src="./assets/icons/logo.webp" class="logo__img" alt="" draggable="false">
    </div>
    <ul class="nav-list">
      <li routerLink="dashboard" routerLinkActive="active"><mat-icon>dashboard</mat-icon><span>Dashboard</span></li>
      <li routerLink="user"><mat-icon>person</mat-icon><span>User</span></li>
    </ul>
  </mat-drawer>

  <mat-toolbar>
    <mat-toolbar-row class="toolbar">
      <button mat-icon-button type="button" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Simple CRM</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <main class="routing">
    <router-outlet></router-outlet>
  </main>
  

</mat-drawer-container>