<mat-drawer-container class="sidebar-wrapper" autosize>
  <mat-drawer [opened]="true" #drawer class="sidenav" mode="side">
    <div class="logo">
      LOGO
    </div>
    <ul class="nav-list">
      <li><mat-icon>dashboard</mat-icon> Dashboard</li>
      <li><mat-icon>person</mat-icon> User</li>
    </ul>
  </mat-drawer>

  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button type="button" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Simple CRM</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>
  

</mat-drawer-container>