<mat-card appearance="outlined">
    <mat-card-content>
        <table class="contact-table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>City</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>

<button (click)="openDialog()" mat-fab matTooltip="blub" [matTooltipPosition]="'above'" class="buttons__add-person">
    <mat-icon>person_add</mat-icon>
</button>