<mat-card appearance="outlined">
    <mat-card-content class="contact-wrapper">
        <table class="contact-table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>City</th>
                </tr>
                @for (contact of contacts; track contact) {
                    <tr>
                        <th>
                            {{contact.name.first + '' + contact.name.last}}
                        </th>
                        <th>
                            {{contact.mail}}
                        </th>
                        <th>
                            {{contact.address.city}}
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </mat-card-content>
</mat-card>

<button (click)="openDialog()" mat-fab matTooltip="blub" [matTooltipPosition]="'above'" class="buttons__add-person">
    <mat-icon>person_add</mat-icon>
</button>