<mat-card appearance="outlined" class="">
    <mat-card-header class="contact-details__header-content">
        <div class="inner-wrapper">
            <img src="./assets/images/contact_placeholder.webp" alt="" draggable="false" class="contact-portrait">
            @if (contactInfo){
            <div class="contact-info">
                <mat-card-title>{{contactInfo.name.first}}&nbsp;{{contactInfo.name.last}}</mat-card-title>
                <mat-card-subtitle>{{contactInfo.mail}}</mat-card-subtitle>
            </div>
            }
        </div>
    </mat-card-header>
    <mat-card-content class="contact-details__body">
        <button mat-icon-button class="more" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button (click)="editMenu()" mat-menu-item>Edit</button>
        </mat-menu>
        <mat-card-title>Address</mat-card-title>
        @if (contactInfo) {
        <span>{{contactInfo['address'].street}}</span><br>
        <span>{{contactInfo['address'].zip}}</span>&nbsp;<span>{{contactInfo.address.city}}</span>
        }
    </mat-card-content>
</mat-card>